body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: black;
  color: wheat;
}

.map {
  height: 90%;
  width: 98%;
  margin: 0 auto;
}

.tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.tabs > input {
  display: none;
}

.tabs > div {
  display: none;
  padding: 12px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
}

.btns {
  margin:0 auto;
}

.tabs > label {
  display: inline-block;
  height: 40px;
  width: 20%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 1%;
  text-align: center;
  color: #a7a7a7;
  border: 1px solid lightblue;
  background-blend-mode: screen;
  background: black;
  cursor: pointer;
  box-shadow: 5px 2px 2px #0876c4;
  transition: box-shadow 0.5s;
}

.tabs > input:checked + label {
  color: #000000;
  border: 1px solid #c0c0c0;
  border-bottom: 1px solid #ffffff;
  background: #ffffff;
}

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 {
  display: block;
  height: 90vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  background: transparent;
  padding: 0;
}

.tabs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0 auto;
}

.tabs > input {
  display: none;
}

label:hover {
  box-shadow: 10px 8px 8px #0876c4;
  transition: 0.5s;
}

.tabs > input:checked + label {
  color: white;
  background: black;
}

p {
  font-size: 35px;
  margin: 0;
}



.left-top-button,
.right-top-button,
.left-stop-button,
.left-bottom-button,
.right-stop-button,
.right-bottom-button {
  background: transparent;
  margin: 1%;
}  
  .left-top-button,
  .right-top-button {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .left-bottom-button,
  .right-bottom-button {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .left-stop-button,
  .right-stop-button {
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    height:145px;
    width: 30%;
    margin: 2%; 
   
    display: inline-flex;
  }



@media screen and (min-width: 0px) and (max-width: 1000px){     
  .left-top-button,
  .right-top-button {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 150px solid blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .left-bottom-button,
  .right-bottom-button {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 150px solid blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .left-stop-button,
  .right-stop-button {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    height:45px;
    width: 40%;
    margin: 1%; 
   
    display: inline-flex;
  }
}
.left-half,
.right-half
 {
  
  width: 25%;
  display: inline-block;
  

}
.cmds {
  background: black;
  height: auto;
  width: 44%;
  display: inline-block;
  margin-top: 1%;
}

#zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#zatemnenie:target {display: block;}
.close {
  display: inline-block;
  border: 1px solid #0000cc;
  color: #0000cc;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor:pointer;
}

.close:hover {background: #e6e6ff;}